/************************ FONTS *****************************/
/*
Roboto Family (Regular, Thin, Medium, Bold)
Monserat Family (Regular, Bold)
*/
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

/************************ VARIABLES *************************/
/*
Dark Blue: #0D1935
Light Blue: #5583FF
Light Grey: #8492AF
Black: #000000
White: #FFFFFF
*/
/************************ GENERAL RESET *********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

/************************ CUSTOM SETTINGS *******************/
ol, ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html {
  background-color: white;
  overflow-x: hidden;
  font-family: "Roboto-Regular", Georgia, serif;
}

body {
  background-color: white;
  overflow: hidden;
}

section {
  padding: 50px 0;
}

p, ul, ol {
  margin-bottom: 0.5em;
}

p a, h5 a {
  font-weight: bold;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

h1, h2, h3, h4, h5 {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/************************ MERKURY THEME CSS3 *******************/
#main-nav {
  background-color: transparent;
  padding-top: 20px;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
}

#main-nav .navbar-toggler {
  padding: 13px;
  border: 0;
  color: white;
}

#main-nav .navbar-brand {
  margin-right: 0px;
}

#main-nav .navbar-brand img {
  width: 70%;
}

#main-nav .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  padding: 7px 10px !important;
  margin-left: 10px;
  letter-spacing: 1px;
  color: white;
  font-family: "Roboto-Regular", Georgia, serif;
  border: 3px solid transparent;
}

#main-nav .navbar-nav .nav-item .nav-link.active, #main-nav .navbar-nav .nav-item .nav-link:hover {
  color: white !important;
  background: rgba(85, 131, 255, 0.5);
  border: 3px solid transparent;
}

#main-nav .navbar-nav .nav-item #login {
  padding: 8px 30px !important;
  background-color: #0D1935;
  color: #5583FF;
  border: 1px solid #5583FF;
  border-radius: 25px;
}

#main-nav .navbar-nav .nav-item #login:hover {
  background: #5583FF;
  color: white !important;
}

#main-header {
  color: white;
  background: #0D1935;
  background-image: url("../../img/hdr-top.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#main-header .container {
  background-image: url("../../img/bg-graph-opaque.png");
  background-repeat: repeat-x;
  background-size: cover;
  -webkit-animation: animatedGraph 13s linear infinite;
          animation: animatedGraph 13s linear infinite;
}

@-webkit-keyframes animatedGraph {
  from {
    background-position: 0% 0px;
  }
  to {
    background-position: 100% 0px;
  }
}

@keyframes animatedGraph {
  from {
    background-position: 0% 0px;
  }
  to {
    background-position: 100% 0px;
  }
}

#main-header .container .intro-text {
  padding-top: 150px;
}

#main-header .container .intro-text h1 {
  font-family: "Roboto-Thin", Arial, sans-serif;
  font-size: 40px;
  text-transform: capitalize;
  line-height: 45px;
  margin-bottom: 25px;
}

#main-header .container .intro-text h3 {
  color: #bfbfbf;
  font-size: 30px;
  font-family: "Roboto-Regular", Georgia, serif;
  font-weight: 400;
  margin-bottom: 35px;
}

#main-header .container .intro-text a {
  padding: 8px 34px;
  color: white;
  background-color: #5583FF;
  border-radius: 25px;
  text-transform: capitalize;
}

#main-header .container .intro-text a:hover {
  color: #5583FF;
  background-color: transparent;
  border: 1px solid #5583FF;
}

#services {
  padding: 100px 0 50px 0;
  background-color: white;
  margin-top: -120px;
}

#services .container {
  margin-top: 100px;
}

#services .container .row .col-md-4 img {
  height: 85px;
  margin-bottom: 30px;
}

#services .container .row .col-md-4 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#services .container .row .col-md-4 h4 {
  font-family: "Roboto-Bold", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

#services .container .row .col-md-4 p {
  color: #b2bbcd;
  line-height: 1.5em;
  margin-bottom: 20px;
}

#services .container .row .col-md-4 a {
  color: black;
  border: 1px solid #cccccc;
  border-radius: 25px;
  width: 70%;
  text-transform: capitalize;
  margin-bottom: 60px;
}

#services .container .row .col-md-4 a:hover {
  background: #cccccc;
}

#services .container .row .col-md-4 #service-1:after, #services .container .row .col-md-4 #service-2:after {
  content: "";
  position: absolute;
  right: -60px;
  top: 50px;
  width: 10vw;
  height: 1px;
  background-attachment: fixed;
  background-color: #e1e4eb;
}

/************************ FEATURES *******************/
#features {
  background: white;
}

#features .container .row .col-md-5 {
  margin-top: 100px;
}

#features .container .row .col-md-5 h2 {
  color: black;
  font-family: "Roboto-Thin", Arial, sans-serif;
  font-size: 38px;
  letter-spacing: 1px;
  line-height: 1em;
  margin-bottom: 35px;
}

#features .container .row .col-md-5 p {
  font-family: "Roboto-Regular", Georgia, serif;
  color: #a3adc3;
  margin-bottom: 30px;
}

#features .container .row .col-md-5 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5583FF;
  margin-bottom: 20px;
  font-size: 18px;
}

#features .container .row .col-md-5 span img {
  margin-right: 10px;
}

/************************ DRAG-DROP *******************/
#drag-drop {
  background-image: url("../../img/hdr-top.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#drag-drop .container {
  padding: 50px 25px;
  background-image: url("../../img/bg-graph-opaque.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#drag-drop .container .row .col-lg-4 h3 {
  font-size: 25px;
  color: white;
}

#drag-drop .container .row .col-lg-4 h3 span {
  color: #999999;
}

#drag-drop .container .row .col-lg-4 h3 i {
  float: right;
  margin-top: 5px;
}

#drag-drop .container .row .col-lg-4 .card {
  border-radius: 0;
  margin-bottom: 20px;
}

#drag-drop .container .row .col-lg-4 .card .card-body {
  padding: 12px;
}

#drag-drop .container .row .col-lg-4 .card .card-body img {
  float: left;
  margin-right: 15px;
}

#drag-drop .container .row .col-lg-4 .card .card-body .dropdown {
  float: right;
}

#drag-drop .container .row .col-lg-4 .card .card-body .dropdown .btn-secondary {
  background: transparent;
  color: #8492AF;
  border: none;
}

#drag-drop .container .row .col-lg-4 .card .card-body .dropdown .dropdown-menu a:hover {
  cursor: pointer;
  background: #5583FF;
  color: white;
}

#drag-drop .container .row .col-lg-4 .card .card-body .card-title {
  font-family: "Roboto-Bold", Helvetica, Arial, sans-serif;
  margin-bottom: 6px;
  margin-left: 41px;
}

#drag-drop .container .row .col-lg-4 .card .card-body .card-text {
  font-size: .8em;
}

#drag-drop .container .row .col-lg-4#first-col #draggable-card {
  cursor: move;
}

#drag-drop .container .row .col-lg-4#second-col #droppable {
  padding: 9px;
  border: 1px dashed #8492AF;
  background: transparent;
  color: #8492AF;
  text-align: center;
  margin: 0px;
}

#drag-drop .container .row .col-lg-4#second-col #droppable .card-title {
  margin: 0px;
  padding: 0px;
}

#drag-drop .container .row .col-lg-4#third-col {
  margin-top: 80px;
  color: white;
}

#drag-drop .container .row .col-lg-4#third-col h2 {
  font-family: "Roboto-Thin", Arial, sans-serif;
  letter-spacing: 1px;
  line-height: .5em;
  margin-bottom: 25px;
  font-size: 35px;
}

#drag-drop .container .row .col-lg-4#third-col p {
  font-family: "Roboto-Thin", Arial, sans-serif;
  color: #999999;
  margin-bottom: 20px;
}

#drag-drop .container .row .col-lg-4#third-col a {
  float: left;
  margin-right: 20px;
}

/************************ MEDIA QUERIES *******************/
#template {
  padding: 100px 0px;
  background: #f2f2f2;
}

#template .container .row p {
  font-size: 16px;
  color: #a3adc3;
}

#template .container .row .col h2 {
  font-size: 50px;
  margin-bottom: 30px;
  font-family: "Roboto-Thin", Arial, sans-serif;
}

#template .container .row .col p.lead {
  margin-bottom: 20px;
}

#template .container .row .col p.lead:last-child {
  margin-bottom: 100px;
}

#template .container .row .col-md-3 h5 {
  font-family: "Roboto-Bold", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  margin-bottom: 40px;
}

#template .container .row .col-md-6 img {
  -webkit-animation: floatDashboard 9s ease-out infinite;
          animation: floatDashboard 9s ease-out infinite;
}

@-webkit-keyframes floatDashboard {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floatDashboard {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#template .container #left-side::before {
  content: "";
  width: 0px;
  height: 47px;
  background: url("../../img/fx-line-right.png") no-repeat;
  position: absolute;
  top: 12px;
  left: 15px;
  -webkit-transform: scalex(-1);
          transform: scalex(-1);
  z-index: 1;
}

#template .container #right-side::before {
  content: "";
  width: 0;
  height: 47px;
  background: url("../../img/fx-line-right.png") no-repeat;
  position: absolute;
  top: 12px;
  right: 15px;
}

#template .container:hover #left-side::before,
#template .container:hover #right-side::before {
  width: 46vw;
  -webkit-transition: width 1.5s ease-out;
  transition: width 1.5s ease-out;
}

/************************ MEDIA QUERIES *******************/
@media (min-width: 300px) {
  #main-nav.navbar-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #172c5e;
  }
}

@media (max-width: 768px) {
  #main-nav .nav-item {
    margin-bottom: 12px;
  }
  #services #service-1:after, #services #service-2:after {
    display: none;
  }
  #services a {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=style.css.map */