/************************ FONTS *****************************/
/*
Roboto Family (Regular, Thin, Medium, Bold)
Monserat Family (Regular, Bold)
*/
@font-face {
   font-family: "Roboto-Regular";
   src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
   font-family: "Roboto-Thin";
   src: url("../fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
   font-family: "Roboto-Medium";
   src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
   font-family: "Roboto-Bold";
   src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
   font-family: "Montserrat-Regular";
   src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
   font-family: "Montserrat-Bold";
   src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

/************************ VARIABLES *************************/
/*
Dark Blue: #0D1935
Light Blue: #5583FF
Light Grey: #8492AF
Black: #000000
White: #FFFFFF
*/

$color-blue-dark: #0D1935;
$color-blue-light: #5583FF;
$color-blue-light-overlay:rgba(85,131,255,.5);
$color-grey: #8492AF;
$color-black: black;
$color-white: white;

$font-roboto: "Roboto-Regular",Georgia,serif;
$font-roboto-thin: "Roboto-Thin",Arial,sans-serif;
$font-roboto-medium: "Roboto-Medium",Arial,sans-serif;
$font-roboto-bold: "Roboto-Bold",Helvetica,Arial,sans-serif;
$font-montserrat: "Montserrat-Regular",Times,serif;
$font-montserrat-bold: "Montserrat-Bold",Times,serif;

/************************ GENERAL RESET *********************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }


/************************ CUSTOM SETTINGS *******************/
ol, ul, li {
	list-style-type: none;
}

a {
   text-decoration: none;

   &:hover {
      text-decoration: none;
      transition: all 0.3s ease-out;
   }
}

html {
   background-color: $color-white;
   overflow-x: hidden;
   font-family: $font-roboto;
}

body {
   background-color: $color-white;
   overflow: hidden;
}

section {
   padding: 50px 0;
}

p,ul,ol {
   margin-bottom: 0.5em;
}

p a, h5 a {
   font-weight: bold;
   transition: all 0.5s ease-out;
}

h1,h2,h3,h4,h5 {
   line-height: 1.5em;
   margin-bottom: 1.5em;
}
/************************ MERKURY THEME CSS3 *******************/

// NAVBAR
#main-nav {
   background-color: transparent;
   padding-top: 20px;
   transition: padding-top 0.3s, padding-bottom 0.3s;

   .navbar-toggler {
      padding: 13px;
      border: 0;
      color: $color-white;
   }

   .navbar-brand {
      margin-right: 0px;

      img {
         width: 70%;
      }
   }

   .navbar-nav {
      .nav-item {

         .nav-link {
            font-size: 15px;
            padding: 7px 10px !important;
            margin-left: 10px;
            letter-spacing: 1px;
            color: $color-white;
            font-family: $font-roboto;
            border: 3px solid transparent;

            &.active, &:hover {
               color: $color-white !important;
               background: $color-blue-light-overlay;
               border: 3px solid transparent
            }
         }

         #login {
            padding: 8px 30px !important;
            background-color: $color-blue-dark;
            color: $color-blue-light;
            border: 1px solid $color-blue-light;
            border-radius: 25px;

            &:hover {
               background: $color-blue-light;
               color: $color-white !important;
            }
         }
      }
   }
}

// HEADER
#main-header {
   color: $color-white;
   background: $color-blue-dark;
   background-image: url('../../img/hdr-top.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

   .container {
      
      background-image: url('../../img/bg-graph-opaque.png');
      background-repeat: repeat-x;
      background-size: cover;
      animation: animatedGraph 13s linear infinite;
      
      @keyframes animatedGraph {
         from {
            background-position: 0% 0px; // start from the right
            
         }
         to {
            background-position: 100% 0px; // move left all the way
         }
      }

      .intro-text {

         padding-top: 150px;

         h1 {
            font-family: $font-roboto-thin;
            font-size: 40px;
            text-transform: capitalize;
            line-height: 45px;
            margin-bottom: 25px;

         }

         h3 {
            color: darken($color-white, 25%);
            font-size: 30px;
            font-family: $font-roboto;
            font-weight: 400;
            margin-bottom: 35px;
         }

         a {
            padding: 8px 34px;
            color: $color-white;
            background-color: $color-blue-light;
            border-radius: 25px;
            text-transform: capitalize;

            &:hover {
               color: $color-blue-light;
               background-color: transparent;
               border: 1px solid $color-blue-light;
            }
         }

         img {

         }
      }
   }
}

// SERVICES
#services {
   padding: 100px 0 50px 0;
   background-color: $color-white;
   margin-top: -120px;

   .container {
      margin-top: 100px;

      .row {
         .col-md-4 {
            img {
               height: 85px;
               margin-bottom: 30px;

               &:hover {
                  transform: scale(1.1);
                  transition: all 0.2s ease-out;
               }
            }
         
            h4 {
               font-family: $font-roboto-bold;
               font-weight: 400;
               text-transform: capitalize;
            }  
         
            p {
               color: lighten($color-grey, 15%);
               line-height: 1.5em;
               margin-bottom: 20px;
            }
         
            a {
               color: $color-black;
               border: 1px solid darken($color-white, 20%);
               border-radius: 25px;
               width: 70%;
               text-transform: capitalize;
               margin-bottom: 60px;

               &:hover {
                  background: darken($color-white, 20%);
               }
            }

            // Strokes
            #service-1:after, #service-2:after {
               content: "";
               position: absolute;
               right: -60px;
               top: 50px;
               width: 10vw; //1 = 1% of view port width;
               height: 1px;
               background-attachment: fixed;
               background-color: lighten($color-grey, 30%);
            }
         }
      }

   }

   
}

/************************ FEATURES *******************/
#features {
   background: $color-white;

   .container {
      .row {
         .col-md-5 {
            margin-top: 100px;

            h2 {
               color: $color-black;
               font-family: $font-roboto-thin;
               font-size: 38px;
               letter-spacing: 1px;
               line-height: 1em;
               margin-bottom: 35px;
            }

            p {
               font-family: $font-roboto;
               color: lighten($color-grey, 10%);
               margin-bottom: 30px;
            }

            span {
               display: flex; // display image and text on same line
               align-items: center; // align img with span text
               
               color: $color-blue-light;
               margin-bottom: 20px;
               font-size: 18px;

               img {
                  margin-right: 10px;
               }
            }
         }
      }
   }
}

/************************ DRAG-DROP *******************/
#drag-drop {
   background-image: url('../../img/hdr-top.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

   .container {
      // No Amination
      padding: 50px 25px;
      background-image: url('../../img/bg-graph-opaque.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center center;

      .row {
         .col-lg-4 {
            h3 {
               
               font-size: 25px;
               color: $color-white;
               span {
                  color: darken($color-white, 40%);
               }

               i {
                  float: right;
                  margin-top: 5px;
               }
            }

            // UI Card Mockups
            .card {
               border-radius: 0;
               margin-bottom: 20px;

               .card-body {
                  padding: 12px;
                  
                  img { // TODO: replace with span and flex boxes
                     float: left;
                     margin-right: 15px;
                  }

                  .dropdown {
                    float: right;
                    
                    .btn-secondary {
                       background: transparent;
                       color: $color-grey;
                       border: none;
                    }

                    .dropdown-menu {
                       a:hover {
                          cursor: pointer;
                          background: $color-blue-light;
                          color: white;
                       }
                    }
                  }

                  .card-title {
                     font-family: $font-roboto-bold;
                     margin-bottom: 6px;
                     margin-left: 41px;
                  }

                  .card-text {
                     font-size: .8em;
                  }
               }
            }

            &#first-col {
               #draggable-card {
                  cursor: move;
               }
            }

            &#second-col {
               #droppable {
                  
                  .card-title {
                     margin: 0px;
                     padding: 0px;
                  }

                  padding: 9px;
                  border: 1px dashed $color-grey;
                  background: transparent;
                  color: $color-grey; //darken($color-white, 40%);
                  text-align: center;
                  margin: 0px;
               }
            }

            &#third-col {
               margin-top: 80px;
               color: $color-white;

               h2 {
                  font-family: $font-roboto-thin;
                  letter-spacing: 1px;
                  line-height: .5em;
                  margin-bottom: 25px;
                  font-size: 35px;
               }

               p{
                  font-family: $font-roboto-thin;
                  color: darken($color-white, 40%);
                  margin-bottom: 20px;
               }

               a {
                  float: left;
                  margin-right: 20px;
               }

            }
         }
      }

   }
}
/************************ MEDIA QUERIES *******************/
@media (min-width: 300px) {

   // Scroll FX - Navbar
   #main-nav {
      
      &.navbar-shrink {
         padding-top: 5px;
         padding-bottom: 5px;
         background-color: lighten($color-blue-dark, 10%) 
      }
   }
}

@media (max-width: 768px) {
   #main-nav .nav-item {
      margin-bottom: 12px; 
   }

   // hide strokes between service icons on small screens
   #services {
      #service-1:after, #service-2:after {
         display: none;
      }

      a {
         margin-bottom: 40px;
      }
   }
}